// Colors

$color-primary-light : #EEEFE6; // as bg for lignts on designs & text color of inverted
$color-primary-dark : #292c3b; // as bg for dark on designs & text color of inverted
$color-main: #0CBFAE; // as a brand color
$color-accent-light: #7D7C91; // bring attentions
$color-accent-dark: #7A6996; // with inverted buttons
$color-light: #E9ECEF;
$color-info: #00B8D8;
$color-danger: #C4183C;
$color-success: #17C671;
$color-warning: #FFB400;