.backdrop{
    height: 100%;
    width: 100%;

    position: fixed;
    left: 0;
    top: 0;

    background-color: rgba($color: #000000, $alpha: 0.6);
    z-index: 200;
    
//     @supports (
//     (-webkit-backdrop-filter: blur(10px)) or (backdrop-filter: blur(0px))
//   ) {
//     background-color: rgba($color: black, $alpha: 0.5);
//     -webkit-backdrop-filter: blur(5px);
//     backdrop-filter: blur(5px);
//   }

}