.tabBar {
  height: 100%;
  width: 100%;
  margin: 0 auto;
  padding: 0 1.2rem;

  display: grid;
  grid-auto-flow: column;
  // row-gap: 0.8rem;
  align-items: center;
  align-content: center;
  justify-content: space-between;

  border-bottom: 1px solid $color-main;


  @include respond(tab-land) {
  }
}
