html {
  height: 100vh;
  width: 100vw;
  // This defines what 1rem is
  font-size: 62.5%;
  scroll-behavior: smooth;

  @include respond(tab-port) {
  }
  @include respond(tab-land) {
  }
  @include respond(desktop) {
  }
  @include respond(big-screen) {
  }

  ::-webkit-scrollbar {
    width: 0px; /* Remove scrollbar space */
    background: transparent; /* Optional: just make scrollbar invisible */
  }
  /* Optional: show position indicator in red */
  ::-webkit-scrollbar-thumb {
    background: $color-accent-light;
  }
}

body {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  scroll-behavior: smooth;

  ::-webkit-scrollbar {
    width: 0px; /* Remove scrollbar space */
    background: transparent; /* Optional: just make scrollbar invisible */
  }
  /* Optional: show position indicator in red */
  ::-webkit-scrollbar-thumb {
    background: $color-accent-light;
  }
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

::-webkit-scrollbar {
  width: 0px; /* Remove scrollbar space */
  background: transparent; /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
  background: $color-accent-light;
}
